
.card {
  width: 500px;
  min-height:500px;
}

.content {
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 1s;
}

.front,
.back {
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;

}

.back {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  transform: rotateY( 180deg );
}